*{
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    letter-spacing: 1,5px;
    line-height: 40px;
  }
 #intro{
  background-color: pink;
  padding-bottom: 25px;
  padding-top: 40px;
 }

 .container{
  text-align: center;
 }
 .nome{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:  rgb(231, 92, 140);
  font-size: 3em;
  margin-top: -20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
 }
 .links {
  -webkit-tap-highlight-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  margin-top: -60px;
  background-color: transparent;
 }
 
.sobremim{
padding: 70px;
padding-top: 15px;
background-color:beig;
}

.objetivos{
  padding: 70px;
  padding-top: 20px;
}
  .Objetivo-titulo,
  .projetos,
  .sobremim-título {
    color: rgba(12, 123, 151, 0.8);
    font-size: 40px;
    text-align: center;
  }

  .container {
    padding: 20px;
    position: relative;
    left: 0%;
    top: 0%;
    
}
  .card_1,
  .card_2,
  .card_3 {
    display: inline-block;
    height: 300px;
    width: 225px;
    border-radius: 4px;
    background-color: rgb(231, 92, 140);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
    margin-top: 2%;
    color:beige ;
    font-size:20px ;
  }


.page-footer {
  background-color: pink;
  padding-bottom: 25px;
}