*{
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    letter-spacing: 1,5px;
    line-height: 40px;
  }
 
.sobremim{
padding: 70px;
padding-top: 15px;
background-color:beig;
}

.objetivos{
  padding: 70px;
  padding-top: 20px;
}
  .Objetivo-titulo,
  .projetos,
  .sobremim-título {
    color: rgba(12, 123, 151, 0.8);
    font-size: 40px;
    text-align: center;
  }

  .container {
    padding: 20px;
    position: relative;
    left: 0%;
    top: 0%;
    
}
 


.page-footer {
  background-color: pink;
  padding-bottom: 25px;
}

.page-footer img {
  display: block;
    width: 100%;
}