*{
    font-family: "Rubik", sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    background-image: rgba(225, 183, 238, 0.425);
  }
 #intro{
  background-color: pink;
  padding-bottom: 25px;
  padding-top: 40px;
 }

 .container{
  text-align: center;
 }
 .nome{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(234, 71, 147);
  font-size: 3em;
  margin-top: -20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
 }
 .links {
  -webkit-tap-highlight-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  margin-top: -60px;
  background-color: transparent;
 }
 .apresentacao1 {
    position: relative;
    font-family:'Roboto', sans-serif;
    font-size: 30px;;
    left:20%;
    top: -300%;
  }

  .nome{
    font-size: 60px;
    
  }
  .Objetivo-titulo,
  .projetos,
  .Saiba-mais-titulo {
    color: #686C76;
    font-size: 40px;
  }
  .sub_2 {
    color:#364D58;
  }

  .apresentacao2 {
    position: relative;
    width: 600px;
    height: 400;
    font-family:'Roboto', sans-serif;
    font:100;
    left:10%;
    top: 150%;
  }
 
 .objetivo {
    position: relative;
    width: 400%;
    height: 200%;
    font-family:'Roboto', sans-serif;
    font:100px;
    left: 10%;
    top: 250%;
 }
.container {
    position: relative;
    left: 0%;
    top: 0%;
    
}
  .card_1,
  .card_2,
  .card_3 {
    display: inline-block;
    height: 300px;
    width: 225px;
    border-radius: 4px;
    background-color: #db2a71b2;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
    margin-top: 2%;
  }

  .container_1 {
    position: relative;
    width: 400%;
    height: 200%;
    font:100px;
    left: 10%;
    top: 150%;
  }
 .container_{
background-color: #000608;

 }
 .Textarea2 {
    font-size: 15px;
    color: aliceblue;
}
.col-sm {
    color: aliceblue;
}

.box {
  color: white ;
  left: 40%;
   background-color:rgba(12, 123, 151, 0.8);
   padding: 20px; 
}

.legend {
  border: 1px solid rgba(233, 188, 206, 0.338);
  padding: 10px;
  text-align: center;
  background-color: rgba(229, 14, 165, 0.808);
  border-radius: 8px;
}

.inputBox {
  position: relative;
}

.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}

.labelInput{
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid~ .labelInput{
  top:-20px;
  font-size: 15px;
  color: rgba(250, 245, 249, 0.925);
}
 
#data-nascimento {
  border: none;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}

#submit{
  background-image: linear-gradient(to right, rgba(247, 173, 225, 0.861),rgba(211, 68, 166, 0.861));
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
#submit:hover {
  background-image:linear-gradient(to right, rgba(151, 75, 130, 0.861),rgba(218, 42, 145, 0.929));
}